HOME = .
[ req ]
default_bits = 4096
default_keyfile = homeassistant.key
req_extensions = v3_req
distinguished_name = req_distinguished_name
x509_extensions	= usr_cert
prompt = no
[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = digitalSignature, nonRepudiation, keyEncipherment, dataEncipherment
extendedKeyUsage = serverAuth, clientAuth, codeSigning, emailProtection
subjectAltName = @alt_names
[ req_distinguished_name ]
C  = FR
ST = PACA
L  = Cagnes-Sur-Mer
O  = DORIER SAS
OU = DSI
CN = homeassistant.local
emailAddress = benjamin@dorier.fr
[ usr_cert ]
basicConstraints=CA:FALSE
nsCertType = client, server, email
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth, clientAuth, codeSigning, emailProtection
nsComment = "OpenSSL Generated Certificate"
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid,issuer
[ alt_names ]
DNS.1 = homeassistant.local
DNS.2 = homeassistant
IP.1 = 192.168.1.105
